@model Customer

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<ul>
	<li>Membership Type: @Model.MembershipType.Name</li>
	@if(Model.BirthDate != null)
	{
		<li>@Model.BirthDate</li>
	}
</ul>