@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>

	<p class="text-lg-start">List 1</p>
	<ul id="one" class="text-lg-start"></ul>
	<br />

	<p class="text-lg-start">List 2</p>
	<ul id="two" class="text-lg-start"></ul>

	<p class="text-lg-start">List 3</p>
	<ul id="three" class="text-lg-start"></ul>
</div>

<script type="text/javascript">
	let main = document.getElementById("main");

	let arr = [2,3];

	arr.forEach(n => {
		const node = document.createElement("li");
		const textNode = document.createTextNode(n);
		node.appendChild(textNode);
		document.getElementById("one").appendChild(node);
	})

	arr.push(4);

	arr.forEach(n => {
		const node = document.createElement("li");
		const textNode = document.createTextNode(n);
		node.appendChild(textNode);
		document.getElementById("two").appendChild(node);
	})

	arr.pop();
	arr.forEach(n => {
		const node = document.createElement("li");
		const textNode = document.createTextNode(n);
		node.appendChild(textNode);
		document.getElementById("three").appendChild(node);
	})

</script>
